#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:5432/Recipes
#    username: admin
#    password: admin71
#jpa:
#  hibernate:
#    ddl-auto: update
#  show-sql: true
#  properties:
#    hibernate:
#      format_sql: true

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Recipes
    username: admin
    password: admin71
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always
#      Явно укажи Spring, откуда брать schema.sql и data.sql
#      schema-locations: classpath:schema.sql
#      data-locations: classpath:data.sql
      schema-locations: classpath:schema_new.sql
      data-locations: classpath:data_new.sql

  jpa:
    hibernate:
#      ddl-auto: update
#      таблицы ты создаёшь сама
      ddl-auto: none
#    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.springframework.jdbc: DEBUG


#        Альтернативные значения ddl-auto
#create — создаёт таблицу при запуске, но не удаляет при остановке.
#update — обновляет схему (добавляет поля/таблицы), но не удаляет ничего.
#validate — проверяет соответствие схемы, но не меняет БД.
#none — отключает автоматическую генерацию схемы (используйте с Flyway/Liquibase).


#spring:
#  flyway:
#    enabled: true
#    clean-on-validation-error: false # не удалять БД при ошибках
#    baseline-on-migrate: true # для старых БД
#  datasource:
#    url: jdbc:postgresql://localhost:5432/rest_api_recipes
#    username: app_user
#    password: ваш_пароль
#    driver-class-name: org.postgresql.Driver
#  jpa:
#    hibernate:
#      ddl-auto: none # отключаем автоматическую генерацию схем
#    show-sql: true
